.searchresult {
  position: absolute;
  z-index: -100;
  width: 100vw;
  height: auto;
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 34%,
    rgba(34, 34, 34, 1) 100%
  );
  opacity: 0;
  transition: all ease-in-out 0.5s;
  overflow-x: hidden;
  padding-top: 4.375rem;
}

.searchrows {
  overflow-x: hidden;
}
