footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.9375rem;
  height: 3.125rem;
  background-color: #151515;
  z-index: 102;
}

.netflix {
  height: 1.8rem;
}

.github {
  height: 3.3rem;
}

.tmdb {
  height: 1.3rem;
}

.netflix-image,
.github-image,
.tmdb-image {
  height: 100%;
  transform: scale(0.9);
  transition: all ease-in-out 0.2s;
}

.netflix-image:hover,
.github-image:hover,
.tmdb-image:hover {
  transform: scale(1);
}
